<!DOCTYPE html>
<html>

<body>

<h3>ERROR: {{.Error}}</h3> 



Press the back button to go back to the {{.Name}} page.
<br/>
<form name="back" action="splashselect.html" method="post">
<button name="back" type="submit" value="back">Back</button>
<input type="hidden" name="redirect" value={{.Action}} />
</form>

</body>

</html>
