<!DOCTYPE html>
<html>

<h3>Welcome {{.Name}},<br> What would you like to do?</h3>

<body>

<form name="myaccount" action="accountaction.html" method="post">

<button name="account" type="submit" value="history">My History</button>
<br/>
<button name="account" type="submit" value="search">New Search</button>
<br/>
<br/>
<br/>
<button name="account" type="submit" value="signout">Sign Out</button>
<input name="userhash" type="hidden" value={{.UserHash}} />
<input name="username" type="hidden" value={{.Name}} />

</form>

</body>

</html>
