<!DOCTYPE html>
<html>
<style>
form { width: 400px; }
label { float: left; width: 150px; }
input[type=text] { float: left; width: 250px; }
.clear { clear: both; height: 0; line-height: 0; }
.floatright { float: right; }
</style>

<h3>{{.Name}}'s Account</h3>

<form name="myaccount" action="myhistory.html" method="post">

<button name="register" type="submit" value="history">My History</button>
<input name="userhash" type="hidden" value={{.UserHash}} />

</form>

<br/>

<form name="input" action="userdata.html" method="post">

<label for="latitude">Latitude</label>	<input type="text" name="latitude" /><br/>
<label for="longitude">Longitude</label> <input type="text" name="longitude" /><br/>
<br class="clear" />
<br />
<select onchange="submit()" name="select">
	<option value="select">Select</option>
	<option value="maps">Google Maps</option>
	<option value="wiki">Wiki</option>
	<option value="flickr">Flickr</option>
	<option value="flickr_nearby">Flickr Nearby</option>
	<option value="address">Where Am I?</option>
	<option value="resource">I'm Feeling Lucky!</option>
</select>	

<input name="userhash" type="hidden" value={{.UserHash}} />

</form>

<form name="signout" action="accountaction.html" method="post">
<button name="account" type="submit" value="signout">Sign Out</button>
<input name="userhash" type="hidden" value={{.UserHash}} />
</form>

</body>

</html>
